<div style="height:100%; width: 100%;"layout="column">
	<md-button ng-click="randomizeEverything()" class="md-raised md-primary" style="background-color: #ff6600; color: white;" flexmd-no-ink>Scramble Everything!</md-button>
  <md-button ng-click="randomizeParts()" class="md-raised md-primary" flexmd-no-ink>Scramble Parts</md-button>
	<md-button ng-click="randomizeTuning()" class="md-raised md-primary" flexmd-no-ink>Scramble Tuning</md-button>
	<md-button ng-click="randomizePaint()" class="md-raised md-primary" flexmd-no-ink>Scramble Paint</md-button>
	
</div>